{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>  
    <div class="header">
        <div class="logo">
            <a href=""><img src="{% static 'images/votelogo.png' %}">
                <h3>Taita Taveta University <br> Online Voting System</h3>
            </a>
        </div>

        <div>
            <ul id="navbar">
                <li><a class="active" href="">HOME</a></li>
                <li><a href="">VOTE</a></li>
                <li><a href="">CANDIDATES</a></li>
                <li><a href="">LOGIN</a></li>
                <li><a href="">DELICATE</a></li>
            </ul>
        </div>
    </div>

    <div class="body">
        <div class="content">
            <h4>Vote at the comfort of your home!!!</h4>
            <p>Participating in elections has never been easier!
            With our secure and reliable online voting platform,
            you can make your voice heard from the comfort of your own home. 
            No more rushing to polling stations or waiting in long lines—simply log in,
            review your options, and cast your vote in just a few clicks. Make a difference
            from the comfort of your couch. Your voice matters—let's make it count!</p>
            <a href="{% url 'vote' %}"><button>Vote now &rarr;</button></a>
        </div>
        <img src="{% static 'images/votingirl.png' %}">
    </div>

    <div class="footer">
        <div class="div">
            <div class="col">
                <h3>ADDRESS</h3>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <p>Taita taveta university, Voi</p>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <p>P.O Box 45371 - 00100, Voi.</p>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <p>Tell No: (254) 7 12 234 564</p>
                </li>
                <li>
                    <i class="fa fa-at"></i>
                    <p>Email Address: taitaonlinevoting@gmail.com</p>
                </li>
            </div>

            <div class="col">
                <h3>ABOUT</h3>
                <a href="#">About Us</a>
                <a href="#">Delivery Information</a>
                <a href="#">Private Policy</a>
                <a href="#">Terms & Conditions</a>
                <a href="#">Contact Us</a>
            </div>

            <div class="col">
                <h3>MY ACCOUNTS</h3>
                <a href="#">Sign In </a>
                <a href="#">View Cart</a>
                <a href="#">My Wishlist</a>
                <a href="#">Track My Order</a>
                <a href="#">Help</a>
            </div>

            <div class="col">
                <h3>WORK WITH US</h3>
                <a href="#">Vacancies</a>
                <a href="#">Tenders</a>
                <a href="#">Vacancies</a>
                <a href="#">Tenders</a>
            </div>
        </div>

        <div class="copyright">
            <p>© 2024. Vickeey etc - HTML CSS Ecommerce Template</p>
        </div>
    </div>
</body>
{% endblock content %}
